<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-fragment}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar-fragment}"></div>
<div class="container mt-5">
    <h1 class="mb-4">나의 서재 목록</h1>
    <a href="/books/add" class="btn btn-primary mb-3">새 책 등록하기</a>
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">제목</th>
            <th scope="col">저자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <th scope="row" th:text="${book.id}">1</th>
            <td><a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}">책 제목</a></td>
            <td th:text="${book.author}">저자</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>