<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-fragment}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar-fragment}"></div>

<div class="container mt-5">
    <h1>책 정보 수정하기</h1>
    <form th:action="@{/books/{id}/edit(id=${book.id})}" th:object="${book}" method="post" class="mt-4">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">저자</label>
            <input type="text" id="author" th:field="*{author}" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">수정 완료</button>
        <a th:href="@{/books/{id}(id=*{id})}" class="btn btn-secondary">취소</a>
    </form>
</div>
</body>
</html>